*{
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}
.cabecalho a{
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho a:hover{
    text-decoration: underline;
}
.cabecalho-direito{
    display: flex;
    margin-left: auto;
    min-width: 13vw;
    justify-content: space-between;
}
.cabecalho-direito .header__apps{
    margin-right: 10px;
}
.corpo-principal{
    flex: 1;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
}
.corpo-principal img{
    object-fit: contain;
    height: 100px;
}
.pesquisa-entrada{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.pesquisa-entrada input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
}
.material-icons{
    padding-left: 10px;
}
.pesquisa-entrada #lupa{
    color: gray;
}
.pesquisa-entrada #mic, #cam{
    color: blue;
}
.botoes-pesquisa{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.botoes-pesquisa button{
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}
.rodape{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #5f6368;
    background-color: #f2f2f2;
    font-size: 13px;
    font-family: Arial, sans-serif;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
}
.lista-superior{
    display: inline-flex;
    list-style: none;
    justify-items: flex-start;
}
.lista-superior li{
    padding-right: 20px;
}
.lista-inferior{
    display: flex;
    list-style: none;
    padding-left: 120px;
}
.lista-inferior li{
    padding-right: 20px;
}
.rodape ul li{
    font-size: 14px;
    margin-right: 10px;
}
.rodape li:hover{
    text-decoration: underline;
    cursor: pointer;
}